$font-color-praimary: #4a4a4a;
$font-color-secondary: #2196f3;
$font-color-light: #a0b0b9;

$main-background-color: #f3f7fa;
$content-background-color: #fff;
$hover-background-color: #f1fcff;

$border-color: #dfe5ec;

$message-box-shadow-color: #05375f;
