@import '/src/styles/variables.scss';

.header {
  display: flex;

  &__logo {
    margin-inline: auto;
    width: 60px;
    aspect-ratio: 1;
    object-fit: cover;
  }

  &--margin {
    margin-bottom: 20px;
  }
}

.wrapper {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-inline: 20px;
  width: 744px;
  margin-inline: auto;
  @media (max-width: 768px) {
    width: min-content;
    padding-top: 20px;
  }
}

.main {
  display: flex;
  column-gap: 20px;
  justify-content: center;
}

.search-results {
  width: 502px;
  @media (max-width: 542px) {
    width: 90vw;
    // max-width: max-content;
  }
}
